* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
}

header {
  grid-area: header;
  background-color: rgb(255, 255, 255);
  height: 6rem;
  text-align: center;
  color: aliceblue;
}

header img {
  height: 6rem;
}
menu {
  background-color: rgb(109, 35, 68);
  color: white;
  display: flex;
  justify-content: center;
  grid-area: menu;
}

main {
  grid-area: main;
}
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  background-color:  rgb(109, 35, 68);
  color: aliceblue;
}

.cordelia {
    margin-bottom: 0.5rem;
}

.mail {
    display: flex;
       width: 100%;
    justify-content:center;
   
}

.instagram {
    display: flex; 
    width: 100%;
    justify-content: center;
    margin-top: 0.5rem;
     
}


.mail i, .instagram i {
    font-size: 1.2rem; 
    color:  rgb(244, 242, 243);
    margin-right: 0.5rem;
  
  }


@media (max-width: 567px) {
  .nav {
    display: none;
  }

  .menu-s {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
width: 100%;
    padding: 1rem;
    grid-area: menu;
  }


}
